#!/bin/bash

# MySQL backup script with global objects and logging

# Configuration
MYSQL_USER="root"
MYSQL_PASSWORD="{{ mysql_server_root_password }}"
MYSQL_HOST="{{ mysql_server_host_name }}"
BACKUP_DIR="{{ mysql_server_backup_directory }}"
LOG_DIR="{{ mysql_server_log_directory }}"
TIMESTAMP=$(date +"%Y%m%d-%H%M")
BACKUP_FILE="mysql_full_backup_${TIMESTAMP}.sql.gz"
LOG_FILE="${LOG_DIR}/mysql_backup_${TIMESTAMP}.log"

# Start logging
exec > >(tee -a "$LOG_FILE") 2>&1

echo "MySQL backup started at $(date)"

# Perform the backup
mysqldump --user="$MYSQL_USER" --password="$MYSQL_PASSWORD" \
    --host="$MYSQL_HOST" \
    --all-databases \
    --events --routines --triggers \
    --add-drop-database \
    --add-drop-table \
    --create-options \
    --set-gtid-purged=OFF \
    --single-transaction \
    --flush-privileges \
    | gzip > "${BACKUP_DIR}/${BACKUP_FILE}"

# Check if the backup was successful
if [ $? -eq 0 ]; then
    echo "MySQL backup completed successfully at $(date)"
    echo "Backup file: ${BACKUP_DIR}/${BACKUP_FILE}"
    echo "Backup size: $(du -h ${BACKUP_DIR}/${BACKUP_FILE} | cut -f1)"
else
    echo "MySQL backup failed at $(date)"
    echo "Error details:"
    tail -n 10 "$LOG_FILE"
    exit 1
fi

# Cleanup old backups (optional, adjust as needed)
find "$BACKUP_DIR" -name "mysql_full_backup_*.sql.gz" -mtime +7 -delete

echo "Backup process completed"